body {
  font-family: sans-serif;
  font-size: $default-font-size;
  line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
  color: $text-color;
  background: $background-color;
}
