$text-color: #000;
$background-color: #fff;
$border-color: #000;

$button-text-color: #000;
$button-background-color: #fff;

$header-text-color: #fff;
$header-subheading-color: #f3f3f3;

$thumbnail-border-color: #f0f0f0;
